*{
  font-family: "Inter";
  background: #161c1c;
}
@font-face {
  font-family: 'Inter';
  src: url(./Assets/fonts/Inter-Regular.woff) format(woff),
       url(./Assets/fonts/Inter-Regular.woff2) format(woff2);
}
